In [ ]:
## Activity 11

In [1]:
import sqlite3

In [9]:
#Connect to petsdb
conn = sqlite3.connect("petsdb")

In [13]:
# a tiny function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [14]:
print(conn)

<sqlite3.Connection object at 0x7f9afbb9e120>

In [15]:
print(is_opened(conn))

True

In [16]:
conn = sqlite3.connect("petsdb")
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall()) # print list of tables in petsdb

[('persons',), ('pets',)]

In [20]:
print ("{:<8} {:<5} {:<10}".format('Row No.','age','ppl count'))
for row,ppl, age in c.execute("SELECT ROW_NUMBER () OVER ( ORDER BY count(*),age) RowNum, count(*) as ppl, age FROM persons GROUP BY age ORDER BY age"):
    #print("{}. We have a count of {} people with age {}".format(row,ppl, age))
    print ("{:<8} {:<5} {:<10}".format(row,age, ppl))

Row No.  age   ppl count
24       5     2
1        6     1
2        7     1
41       8     3
3        9     1
25       11    2
42       12    3
4        13    1
51       14    4
26       16    2
27       17    2
43       18    3
5        19    1
44       22    3
28       23    2
45       24    3
29       25    2
6        27    1
7        30    1
46       31    3
8        32    1
9        33    1
30       34    2
47       35    3
48       36    3
10       37    1
31       39    2
11       40    1
12       42    1
32       44    2
33       48    2
13       49    1
14       50    1
34       51    2
35       52    2
36       53    2
37       54    2
15       58    1
16       59    1
17       60    1
18       61    1
38       62    2
19       63    1
39       65    2
40       66    2
20       67    1
49       68    3
21       69    1
22       70    1
52       71    4
23       72    1
53       73    5
50       74    3

In [21]:
#Age Group which has max number of people

for ppl, age in c.execute("with cte_data as (SELECT ROW_NUMBER () OVER ( ORDER BY count(*),age) RowNum, count(*) as ppl, age FROM persons GROUP BY age ORDER BY count(*)) SELECT ppl, age FROM    cte_data WHERE   RowNum = (SELECT MAX(RowNum)  FROM cte_data)"):
    print("Max number of people is {} in age group of {}".format(ppl, age))

Max number of people is : 5 in age group of 73

In [37]:
#Find people without a last name
count_people = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in count_people:
    print("People where last_name is missing - {}".format(row[0]))

People where last_name is missing - 60

In [34]:
#How many have more than 1 pet

count_people_pet = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in count_people_pet:
    print("People have more than one pet - {}".format(row[0]))

People have more than one pet - 43

In [33]:
#How many pets have received treatments

count_pets_treat = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in count_pets_treat:
    print("count of treated pets - {}".format(row[0]))

count of treated pets - 36

In [32]:
#How many pets have received treatments & type of pet in known

count_pets_treat_type_known = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in count_pets_treat_type_known:
    print("count of treated pets where type is known - {}".format(row[0]))

count of treated pets where type is known - 16

In [30]:
# How many pets are from East Port

count_pets_east_port = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in count_pets_east_port:
    print(" East Port Pets - {}".format(row[0]))

 East Port Pets - 49

In [31]:
# How many pets are from East Port & received treatments

count_pets_east_port_treated = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in count_pets_east_port_treated:
    print("East Port Treated Pets - {}".format(row[0]))

East Port Treated Pets - 11